body {
  font: 11pt Roboto;
  font-weight: 300;
  margin-left: 60px;
  margin-top:20px;
  margin-bottom: 80px;
}
td {
  font-size: 10pt;
}
ul {
  line-height: 180%;
}
h1 {
  font-size: 30px;
  font-weight: 300;
}
.thin {
  width: 170px;
}
.annotation {
  color: #a00;
  font-size: 10pt;
  visibility: hidden;
  stroke: #d00;
  stroke-width: 5;
  fill:none;
}
.prose {
  width: 600px;
  margin-bottom: 60px;
}
.demo {
  font: 10pt;
  color: #fff;
  padding: 6px;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 6px;
  width: 140px;
  background: #a00;
}
.broken {
  color: #f00;
}
.readout {
  font-weight: 700;
}
.title {
  font-weight: 700;
}
.big-label {
  font-size: 16pt;
}
.figure-title {
  font-size: 24px;
  font-weight: 400;
}
.figure-caption {
  font-weight:100;
  margin-bottom: 20px;
}
.histogram-axis {
  font-size: 9pt;
  font-weight: 100;
  color: #000;
}
.histogram-legend {
  margin-top: 16px;
}
.instructions {
  font-weight: 700;
}
.correctness-label {
  font-size: 9pt;
  font-weight: 700;
  color: #000;
}
.explanation {
  font-size: 9pt;
  font-weight: 100;
  color: #ccc;
}
.pie-label {
  font-size: 9pt;
  font-weight: 700;
  color: #000;
}
.pie-number {
  font-size: 9pt;
  font-weight: 300;
  color: #000;
}
.legend-label {
  font-size: 8pt;
  font-weight: 300;
  color: #666;
}
.bold-label {
  font-size: 10pt;
  font-weight: 700;
}
.margin-text {
  font-size: 9pt;
  font-weight: 300;
  color: #666;
}
.margin-bold {
  font-size: 9pt;
  font-weight: 700;
}
.domain {
  display: none;
}
.profit-readout {
  margin-left: 10px;
}

#profit-title {
  font-size: 18pt;
}
#total-profit {
  font-size: 18pt;
  font-weight: 700;
}
#top-sidebar {
  position: absolute;
  left: 650px;
  width: 200px;
  font-size: 10pt;
  color: #555
}
